.classpath
.project
.settings/
.springBeans
target
bin
workspace
test-output
.iml
.idea
*.iml
*.ipr
*.iws
atlassian-ide-plugin.xml
.DS_Store
.~lock.*.csv*
.~lock.*.xls*
.gradle/
.mvn/
build/
gradle-app.setting
out/
logs/
target/
coverage-error.log
rebel.xml
*.swp
